/* ==========  Color Palettes  ========== */

$white: #fff;
$black: #000;
$bistre: #333;
$darkgrey: #737373;
$manatee: #aaa;
$red: #ff3180;
$indigo: #617fde;
$bluesky: #516bc1;
$theme-red: #fd7897;
$theme-green: #06ce90;

// min-cal
$bluegray: #5a76bc;
$ballblue: #617fde;
$cobalt: #9cb3ed;
$vanilla: #ffc817;

// tk-cal
$paleorange: #fff2e2;
$lightorange: #ffab3c;
$lightgrayishblue: rgba(97, 127, 222, 0.2);
$grayishblue: #eff2fb;


$whitegray: #fdfdfd;

$vwhitegray: #fcfcfc;

$pink: #e86499;
$tuftsblue: #8ea0cb;


$brandeisblue: #6d8ee1;

$steelblue: #5c7bc5;
$ceruleanblue: #5a77bf;

$orangered: #fd5d5f;
$mediumseagreen: #3cc6cc;

$mulberry: #e86499;
$shamrock: #28e0bf;
$springgreen: #49d498;
$yellow: #ffefd8;

$grey: #ddd;
$cadetgrey: #ababab;
$ashgrey: #f3f3f3;
$platinum: #f7f7f7;
$timberwolf: #ececec;
$lavendergray: #c7c7c7;

$whitelilac: #ebebeb;

$disabled: #a8a8a8;

$verylightgray: #fefefe;

$lightwhite: #fafafa;

$white4: rgba(225,225,225,0.4);
$white6: rgba(225,225,225,0.6);
$white8: rgba(225,225,225,0.8);

$black05: rgba(0,0,0,.05);
$black08: rgba(0,0,0,.08);
$black1: rgba(0,0,0,.1);
$black2: rgba(0,0,0,.2);
$black3: rgba(0,0,0,.3);
$black4: rgba(0,0,0,.4);

$grey15: rgba(243,243,243,0.6);

// list color
$l-color-0: transparent;
$l-color-1: #90ABD6;
$l-color-2: #499FB4;
$l-color-3: #3CB878;
$l-color-4: #7FDD81;
$l-color-5: #C4E365;
$l-color-6: #E864A8;
$l-color-7: #FD5E5E;
$l-color-8: #F3BB4C;
$l-color-9: #FFE954;

// priority color
$priority-high: #ff3180;
$priority-medium: #ffc817;
$priority-low: #617fde;



// activity
$limegreen: #18d791;
$softred: rgba(241, 89, 100,0.8);
$moderateblue: rgba(100,132,213,0.8);

$lightblack: rgba(0,0,0,0.1);

$lightgray: rgba(0, 0, 0, 0.15);

$blackwhite: #d3dbf3;
$blackblue: #5a7bcf;

$opacityindigo: rgba(97,127,222,0.1);
$opacitywhite: rgba(255,255,255,0.3);


// dark theme
$dark-deepgray: #313643;
$dark-lightgray: #3f4658;
$dark-lightgray1: rgba(49, 54, 67, 0.1);
$dark-lightgray2: rgba(49, 54, 67, 0.2);
