$sprite: (
  email-blue: (
  offset-x: -64px,
  offset-y: 0px,
  width: 24px,
  height: 24px,
  total-width: 112px,
  total-height: 92px,
  image: 'sign-icons.png'
  ),
  email-gray: (
  offset-x: -64px,
  offset-y: -24px,
  width: 24px,
  height: 24px,
  total-width: 112px,
  total-height: 92px,
  image: 'sign-icons.png'
  ),
  lock-blue: (
  offset-x: -88px,
  offset-y: 0px,
  width: 24px,
  height: 24px,
  total-width: 112px,
  total-height: 92px,
  image: 'sign-icons.png'
  ),
  lock-gray: (
  offset-x: -88px,
  offset-y: -24px,
  width: 24px,
  height: 24px,
  total-width: 112px,
  total-height: 92px,
  image: 'sign-icons.png'
  ),
  logo: (
  offset-x: 0px,
  offset-y: 0px,
  width: 64px,
  height: 68px,
  total-width: 112px,
  total-height: 92px,
  image: 'sign-icons.png'
  ),
  name-blue: (
  offset-x: 0px,
  offset-y: -68px,
  width: 24px,
  height: 24px,
  total-width: 112px,
  total-height: 92px,
  image: 'sign-icons.png'
  ),
  name-gray: (
  offset-x: -24px,
  offset-y: -68px,
  width: 24px,
  height: 24px,
  total-width: 112px,
  total-height: 92px,
  image: 'sign-icons.png'
  ),
parts: (
  total-width: 112px,
  total-height: 92px,
  image: 'sign-icons.png'
  )
);


  @mixin sprite-size($image) {
  background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
  }

  @mixin sprite-width($image) {
  width: map-get(map-get($sprite, $image), 'width');
  }

  @mixin sprite-height($image) {
  height: map-get(map-get($sprite, $image), 'height');
  }

  @mixin sprite-position($image) {
  background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
  }

  @mixin sprite-image($image) {
  background-image: url(map-get(map-get($sprite, $image), 'image') + '.png');
  }

  @mixin sprite-image-retina($image) {
  background-image: url(map-get(map-get($sprite, $image), 'image') + '@2.png');
  }




  .icon-email-blue {
  @include sprite-width("email-blue");
  @include sprite-height("email-blue");
  @include sprite-position("email-blue");
  }
  .icon-email-gray {
  @include sprite-width("email-gray");
  @include sprite-height("email-gray");
  @include sprite-position("email-gray");
  }
  .icon-lock-blue {
  @include sprite-width("lock-blue");
  @include sprite-height("lock-blue");
  @include sprite-position("lock-blue");
  }
  .icon-lock-gray {
  @include sprite-width("lock-gray");
  @include sprite-height("lock-gray");
  @include sprite-position("lock-gray");
  }
  .icon-logo {
  @include sprite-width("logo");
  @include sprite-height("logo");
  @include sprite-position("logo");
  }
  .icon-name-blue {
  @include sprite-width("name-blue");
  @include sprite-height("name-blue");
  @include sprite-position("name-blue");
  }
  .icon-name-gray {
  @include sprite-width("name-gray");
  @include sprite-height("name-gray");
  @include sprite-position("name-gray");
  }


.icon_sign {
  @include sprite-size('parts');
  background-repeat: no-repeat;
  display: inline-block;
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {

    @include sprite-size('parts');

  }
}
